{{define "signup_team_confirm"}}
<!DOCTYPE html>
<html>
{{template "head" . }}
<body class="white">
    <div class="container-fluid">
        <div class="inner__wrap">
            <div class="row content">
                <div class="col-sm-12">
                    <div class="signup-team__container">
                        <h3>Rekisteröinti on valmis</h3>
                        <p>Tarkista sähköpostisi: {{ .Props.Email }}<br>
                        Sähköpostisi sisältää linkin, josta pääset perustamaan tiimisi.</p>
                    </div>
                </div>
            </div>
            <div class="row footer">
                {{template "footer" . }}
            </div>
        </div>
    </div>
</body>
</html>
{{end}}
