{{define "welcome"}}
<!DOCTYPE html>
<html>
{{template "head" . }}
<body>
  <div class="container-fluid">
    <div class="inner__wrap">
        <div class="row header">
          <div id="navbar"></div>
        </div>
        <div class="row main">
          <div class="app__content">
            <div class="welcome-info">
              <h1>Tervetuloa {{ .ClientProps.SiteName }}-palveluun!</h1>
              <p>
                  Et ole näköjään vielä minkään tiimin jäsen. Ota yhteys järjstelmän
                  ylläpitäjään, jotta hän lähettää sinulle kutsun yksityistiimiin.
                  Tai voit luoda oman yksityistiimisi.
              </p>
              <div class="alert alert-warning">
                  Jos sinut kutsuttiin tiimin, jota et näe, vahvista sähköpostiosoitteesi
                  ensin päästäksesi tiimisivulle.
              </div>
              <div id="new_channel">
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <script>
  window.setup_welcome_page();
  </script>
</body>
</html>
{{end}}
