h1, h2, h3, h4, h5, h6 {
  color: #3a3a3a;
}

a:not(.btn) {
    &, &:link, &:visited {
        color: #652D86;
    }
}
aa, aa:link, aa:visited {
    color: #652D86;
}
a:active {
    color: #584861;
}
a:hover {
    color: #a773c8;
}
h2 a:link,
h2 a:visited {
	color: #3a3a3a;
}
h2 a:hover {
	color: #b887d4;
}

.ts-head-team-logo {
    max-width: 100%;
}
